body{
	/*background-image:url(../../images/meet-the-cast-bg.png);*/
}

.fist_page_button{
	background: rgb(155,198,79);
	font-size: 
}

.token_generation{
	color: rgb(90,31,95);
	background-image:url(../../images/token-generation-bg.png);
	/*background-size:100% 100%;*/
}	